<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MHS Athletics</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=shopping_cart" />
</head>
<body>

    <div class="header">
        <div class="header-container">
            <img src="MHSLogo.jpg" alt="Mililani High School Logo" class="logo">
            <div class="header-text">
                <h1>MHS Athletics</h1>
                <span class="tagline">Excellence. Tradition. Pride.</span>
            </div>
        </div>
    </div>
    
    <nav class="navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="store.html">Store</a></li>
            <li><a href="schedules.html">Schedules</a></li>
            <li><a href="faq.html">FAQs</a></li>
            <li><a href="forms.html">Forms</a></li>
            <li><a href="deadlines.html">Deadlines</a></li>
            <li class="cart-icon">
                <a href="cart.html">
                    <span class="material-symbols-outlined">shopping_cart</span>
                </a>
            </li>
        </ul>
    </nav>

    <div id="app">
        <h1> Athletics Store </h1>
        <div v-if="products.length" class="product-container">
            <div v-for="product in products" :key="product.id" class="product">
                <img :src="product.image">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>${{ product.price }}</p>
                <button @click="addToCart(product)">Add to Cart</button>
            </div>
        </div>
        <div v-else>
            <p>No products available.</p>
        </div>
    </div>
    

    </div>

    <script src="app.js"></script>
</body>
</html>
